services:
  backend:
    build: .
    container_name: smartbulba_backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - PYTHONUNBUFFERED=1